run_tests:
    image: maven:3-openjdk-18
    services:
        - postgres:12.2-alpine

    variables:
        POSTGRES_DB: packer
        POSTGRES_USER: packer
        POSTGRES_PASSWORD: test@123
        POSTGRES_HOST_AUTH_METHOD: trust
    script:
        - mvn test -f pom.xml
