stages:
    - build
        
run_build:
    stage: build
    image: docker:20.10.19-cli
    services:
        - docker:20.10.19-dind
    variables: 
        DOCKER_TLS_CERTDIR: "/certs"
        IMAGE_NAME: chamathm/packer
        IMAGE_TAG: packer-api-1.0
    before_script:
        - winpty docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD
    script:
        - docker build -t $IMAGE_NAME:$IMAGE_TAG .
        - docker push $IMAGE_NAME:$IMAGE_TAG

